body {
  border: dashed 2px black;
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
}

.footer {
  bottom: 0;
  padding: 30px;
  position: absolute;
}

.hidden {
  display: none;
}

.homeric-salute {
  font-family: 'Anton', Arial, Helvetica, sans-serif;
  font-size: 32px;
  line-height: 40px;
  text-align: justify;
  text-transform: uppercase;
  animation: blinkingText 1.0s infinite;
}

.idiot {
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: 9999;
}

@keyframes blinkingText {
    0%{     color: #000;    }
    60%{    color: transparent; }
    100%{   color: #000;    }
}

.prize {
  cursor: pointer;
}

.section {
  padding-top: 40px;
}
