body {
  border: dashed 2px black;
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
}

.footer {
  bottom: 0;
  padding: 30px;
  position: absolute;
}

.hidden {
  display: none;
}

.homeric-salute {
  font-family: "Anton", Arial, Helvetica, sans-serif;
  font-size: 32px;
  line-height: 40px;
  text-align: justify;
  text-transform: uppercase;
  animation: blinkingText 1s infinite;
}

.idiot {
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: 9999;
}

@keyframes blinkingText {
  0% {
    color: #000;
  }
  60% {
    color: transparent;
  }
  100% {
    color: #000;
  }
}

.prize {
  cursor: pointer;
}

.section {
  padding-top: 40px;
}

.sip {
  font-size: 12px;
  position: fixed;
  right: 100px;
  top: 75px;
}

.polarButton {
  cursor: pointer;
  height: 100px;
  position: fixed;
  right: 0;
  top: 50px;
  width: 100px;
}

.partyBoat {
  position: relative;
}

.boatPiece {
  height: 50px;
  position: absolute;
  width: 50px;
}

.rotatoPotato {
  animation: rotatoPotato 2s infinite linear;
}

.bombsAway {
  animation: bombsAway 1s linear;
}

.vroom {
  animation: vroom 3s linear;
}

.thePolarCouncil {
  animation: thePolarCouncil 3s linear;
  display: none;
  left: 0;
  position: fixed;
  top: 50%;
  width: 100%;
}

@keyframes thePolarCouncil {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes vroom {
  from {
    left: 0;
  }
  to {
    left: 100%;
  }
}

@keyframes rotatoPotato {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

@keyframes bombsAway {
  from {
    top: 50px;
    right: 0;
    transform: rotate(0deg);
  }
  to {
    top: 80%;
    right: 80%;
    transform: rotate(359deg);
  }
}

.dRodSails {
  position: relative;
  height: 90px;
  width: 90px;
  z-index: 1;
  animation: dRodSailsAway 10s linear infinite,
    sailBoatBob 1s ease-in-out infinite;
}

.boston {
  position: relative;
  float: left;
  height: 100px;
  width: 100px;
}

.dC {
  height: 100px;
  float: right;
  width: 100px;
  position: relative;
}

@keyframes dRodSailsAway {
  from {
    left: 0%;
  }
  to {
    left: 72%;
  }
}

@keyframes sailBoatBob {
  0% {
    bottom: 20px;
  }
  50% {
    bottom: -20px;
  }
  100% {
    bottom: 20px;
  }
}
